<footer>
    <hr>
    <div class="container">
        <br>
        <div class="row text-center mt-3">
            <div class="col-md-6">
                <h4>Contact</h6>
                    <p>Robert Eagle, Executive Producer</p>
                    <p>
                        Eagle & Eagle Ltd<br>
                        15 Marlborough Road<br>
                        London W4 4EU, England
                    </p>
                    <p>
                        Phone: +44-20Î-8995-1884<br>
                        Fax: +44-20-8995-5648
                    </p>
                    <p>
                        Email: <a href="mailto:producer@eagletv.co.uk">producer@eagletv.co.uk</a>
                    </p>
            </div>
            <div class="col-md-6">
                <h4>About</h4>
                <p>Eagle & Eagle is a {{ site.description }}</p><br>
                <h4>Video & DVD sales</h4>
                <p>
                    Email: <a href="mailto:info@eagletv.co.uk">info@eagletv.co.uk</a>
                </p>
            </div>
        </div>
        <div class="row text-center">
            <dvi class="col social">
                <a href='https://www.youtube.com/user/roberte207' target="_blank"><i class='fab fa-youtube'></i></a>
                <a href='https://vimeo.com/user819540' target="_blank"><i class='fab fa-vimeo'></i></a>
            </dvi>
        </div>
    </div>
</footer>