<header>
	<div class="container">
		<nav class="navbar navbar-expand-lg">
			<a class="navbar-brand text-secondary" href="/">{{ site.title | upcase }}</a>
			<button
				class="navbar-toggler"
				type="button"
				data-toggle="collapse"
				data-target="#navbarContent"
			>
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarContent">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<a class="nav-link" href="/">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">About</a>
					</li>
					<li class="nav-item dropdown">
						<a
							class="nav-link dropdown-toggle"
							href="#"
							id="navbarDropdown"
							role="button"
							data-toggle="dropdown"
						>
							Projects
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="#">Mike the Midwife</a>
							<a class="dropdown-item" href='{{ "/projects/the-nuclear-boy.html" | relative_url }}'>Nuclear Boy Scout</a>
							<a class="dropdown-item" href="#">Robo Sapiens</a>
							<a class="dropdown-item" href="#">Big Questions</a>
							<a class="dropdown-item" href="#">Space - The Final Junkyard</a>
							<a class="dropdown-item" href="#">Guru Busters</a>
							<a class="dropdown-item" href="#">Sun Storm</a>
							<a class="dropdown-item" href="#">Grandpa Chatterji</a>
						</div>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Contact</a>
					</li>
				</ul>
			</div>
		</nav>
		<!-- banner -->
		<div id="eagleCarousel" class="carousel slide" data-ride="carousel">
			<div class="carousel-inner">
				<div class="carousel-item active">
					<img
						src="/assets/images/banner1.gif"
						class="d-block w-100"
						alt="site banner"
					/>
				</div>
			</div>
		</div>
	</div>
</header>
